<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Local CSS -->
    <link href="/main.css" rel="stylesheet" >
    <title>{{course.course}}</title>
</head>
<body>

  <div id="courses">
    <table class="table">
      <tr><th>Course</th><th>Address</th><th>City</th><th>State</th><th>Phone</th><th>Website</th><th>Tee Times</th></tr>
        <tr><td>{{course.course}}</td><td>{{course.address}}</td><td>{{course.city}}</td><td>{{course.state}}</td><td>{{course.phone}}</td><td><a href={{course.website}}>Link</a></td><td><a href="/{{course.course}}/teetimes">Search</a></td></tr>
    </table>    
  </div>

</body>

</html>



