<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Local CSS -->
    <link href="/main.css" rel="stylesheet" >

    <title>NYC Courses</title>
</head>
<body>

  <div id="courses">
    <table class="table">
      <tr><th>Course</th><th>City</th><th>State</th></tr>
      {% for course in courses %}
        <tr><td><a href="/{{course.name}}" >{{course.name}}</a></td><td>{{course.city}}</td><td>{{course.state}}</td></tr>
      {% endfor %}
    </table>    
  </div>

</body>

</html>



